<% if item.is_online? -%>, <%= item.online_meeting_url.present? ? link_to("online", item.online_meeting_url, :target => :new) : ('<span title="'+t(:must_send_request)+'">online</span>').html_safe -%><% end -%>
