- @settings = {} unless @settings
%p
  %label= l(:label_account_login)
  = text_field_tag("settings[account_login]", @settings[:account_login])
%p
  %label= l(:label_account_password)
  = password_field_tag("settings[account_password]", @settings[:account_password])


